.nav-ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: auto;
    padding: 4vh 4vw;
    border-bottom: 1px solid #e6e6e6;

    @media (max-width: 768px) {
        width: 100%;
        padding: 4vh 0;
    }

    & li {
        display: inline-block;
        margin: 0 10px;
        font-size: 20px;
    }

    & .nav-left-item {
        font-weight: bold;
        & span {
            color: #0adec0;
        }
    }

    .nav-items{
        & i {
            // color: ;
        }
    }
}
